<mat-toolbar color="primary">
    <mat-toolbar-row>
        <span>MyMaterial</span>
        <span class="example-spacer"></span>
        <button mat-button>About</button>
        <button mat-button>Services</button>
        <button mat-button>Contact</button>
    </mat-toolbar-row>
</mat-toolbar>


<mat-card>
    <mat-form-field class="example-full-width">
        <input matInput [matDatepickerFilter]="myFilter" [matDatepicker]="picker" placeholder="Choose a date">
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>
</mat-card>
<router-outlet></router-outlet>